Repository PythonistaGuild/TwitchIO, pull requests merged in 2022-08, with the labels that each got.

#312 Replace fussy parser processing; Return message text verbatim
  twitchio/parse.py
Labels: bug, IRC, 2.0

#285 Create Eventsub-specific CustomReward model
  docs/exts/eventsub.rst
  twitchio/ext/eventsub/models.py
Labels: Breaking Change, 2.0, EXT: eventsub

#303 More EventSub Subscription Types
  docs/changelog.rst
  docs/exts/eventsub.rst
  twitchio/ext/eventsub/models.py
  twitchio/ext/eventsub/server.py
Labels: 2.0, EXT: eventsub
