Repository PythonistaGuild/TwitchIO, pull requests merged in 2022-06, with the labels that each got.

#297 Add type conversion for VAR_POSITIONAL arguments
  docs/changelog.rst
  twitchio/ext/commands/core.py
Labels: bug, 2.0, EXT: commands

#306 Fix message content while handling commands in reply messages
  docs/changelog.rst
  twitchio/ext/commands/bot.py
Labels: bug, IRC, 2.0

#308 Handle commands in replies without changing message.content
  docs/changelog.rst
  twitchio/ext/commands/bot.py
Labels: bug, IRC, 2.0, EXT: commands
