Repository PythonistaGuild/TwitchIO, pull requests merged in 2022-10, with the labels that each got.

#339 Make sure to properly end quoted strings
  twitchio/ext/commands/stringparser.py
Labels: bug, 2.0, EXT: commands

#345 Propagate authentication errors to end user when calling run()
  docs/changelog.rst
  twitchio/client.py
  twitchio/websocket.py
Labels: 2.0

#343 Added missing events
  docs/changelog.rst
  docs/exts/eventsub.rst
  twitchio/ext/eventsub/models.py
  twitchio/ext/eventsub/server.py
Labels: 2.0, EXT: eventsub

#342 Change revokation to revocation.
  docs/changelog.rst
  twitchio/ext/eventsub/server.py
Labels: bug, 2.0, EXT: eventsub
